<ul id="menu">
    <li>
        <a href="{{ path('news') }}">
            {{ 'Новинки'|trans }}
        </a>
    </li>
    <li>
        <a href="">
            {{ 'Клубная одежда'|trans }}
        </a>
    </li>
    <li>
        <a href="">
            {{ 'Одежда оптом'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('delivery') }}">
            {{ 'Доставка'|trans }}
        </a>
    </li>
    <li>
        <a href="{{ path('contacts') }}">
            {{ 'Контакты'|trans }}
        </a>
    </li>
</ul>